/*--------------------*/
/* LAYOUT */
.text-font {
    width: 50rem;
    height: 20rem;
    margin: 10rem auto;

    background-color: coral;
    border-radius: 10px;
}
/*--------------------*/


/*--------------------*/
/* TEXT */
.text-font h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    line-height: 3.1rem;
    color: white;
}

.text-font p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 0, 0);
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255) !important; /* Estou dizendo que essa propriedade é IMPORTANTE, ou seja, não importa o nível de especificação. */
}
/*--------------------*/