*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;    
}

/*---------*/

.centro{
    line-height: 170px; /* Alinhamento do texto na vertical */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.bloco1, .bloco2, .bloco3{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: -4px;
}

.bloco1{
    background-color: rgb(245, 41, 41);
}

.bloco2{
    background-color: rgb(67, 255, 255);
}

.bloco3{
    background-color: rgb(76, 250, 76);
}

