*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body{
    height: 100%;
}

/*-----*/

.box{
    width: 100%;
    margin: 80px auto;
    background-color:rgb(253, 199, 199);
    text-align: center; /* Se o conteúdo que estiver dentro da box for "inline-block", ele será centralizado no meio. */
}

.item{
    width: 33.3%;
    margin-right: -4px;
    display: inline-block;
    background-color: rgb(162, 255, 255);
}

.item img{
    width: 16%;
}

.item p{
    background-color: brown;
    display: inline-block;
    text-align: left;
}

.ultimo{
    margin-right: 0;
}