/* CONFIGURAÇÃO */
@charset "UTF-8";
* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.container {
    width: 100vw;
    margin: 0 35px;
}

.container-height {
    height: 100%;
    margin: 0 35px;
}